@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* 
  font-family: "Raleway", sans-serif;
  font-family: "Open Sans", sans-serif;
*/

/* VARIABLES o CUSTOM PROPERTIES */

:root {
  /* FONTS */
  --font-primary: "Raleway", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
  --font-size: 14px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* COLORS */
  --primary-dark-blue-intro: hsl(217, 28%, 15%);
  --primary-dark-blue-main: hsl(218, 28%, 13%);
  --primary-dark-blue-footer: hsl(216, 53%, 9%);
  --primary-dark-blue-testimonials: hsl(219, 30%, 18%);

  --accent-cyan-gradient: hsl(176, 68%, 64%);
  --accent-blue-gradient: hsl(198, 60%, 50%);
  --accent-error-gradient: hsl(0, 100%, 63%);

  --neutral-white: hsl(0, 0%, 100%);

  --fondo-ejemplo: rgb(72, 185, 142);
  /* Ambito global */
  /* Definiendo una variable */
}

body {
  --fondo-ejemplo: yellow;
  /* Ambito de regla css */

  background-color: var(--fondo-ejemplo);
  /* Leyendo la variable definida */
}