@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* 
  font-family: "Raleway", sans-serif;
  font-family: "Open Sans", sans-serif;
*/

/* VARIABLES o CUSTOM PROPERTIES */

:root {
  /* FONTS */
  --font-primary: "Raleway", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
  --font-size: 14px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* COLORS */
  --primary-dark-blue-intro: hsl(217, 28%, 15%);
  --primary-dark-blue-main: hsl(218, 28%, 13%);
  --primary-dark-blue-footer: hsl(216, 53%, 9%);
  --primary-dark-blue-testimonials: hsl(219, 30%, 18%);

  --accent-cyan-gradient: hsl(176, 68%, 64%);
  --accent-blue-gradient: hsl(198, 60%, 50%);
  --accent-error-gradient: hsl(0, 100%, 63%);

  --neutral-white: hsl(0, 0%, 100%);

  --fondo-ejemplo: rgb(72, 185, 142);
  /* Ambito global */
  /* Definiendo una variable */
}

/* body { */
/* --fondo-ejemplo: yellow; */
/* Ambito de regla css */

/* background-color: var(--fondo-ejemplo); */
/* Leyendo la variable definida */
/* } */

/* GENERAL */

* {
  /* selector universal, las reglas se aplican a todos los elementos de la página */
  box-sizing: border-box;

  margin: 0;
}

html {
  font-size: var(--font-size);
}

body {
  background-color: var(--primary-dark-blue-intro);

  color: var(--neutral-white);
}

a {
  color: inherit;

  text-decoration: none;
}

img {
  max-width: 100%;

  height: auto;
}

/* UTILS */

.wrapper {
  /* width: 1440px; */
  width: min(100% - 3rem, 1440px);
}

.wrapper-720 {
  width: min(100% - 3rem, 720px);
}

.hidden {
  display: none;
}

/* HEADER SECTION */

.header {
  /* border: 1px solid red; */

  font-family: var(--font-primary);

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* 4rem = 4 * 14px = 56px */
  /* 1rem = tamaño de la letra principal (14px) */
  /* 1em  = tamaño de la letra de su contenedor más próximo (14px) */

  margin: 0 auto;
  margin-top: 4rem;
}

.header__nav {
  /* border: 1px solid yellow; */

  display: flex;
  gap: 2rem;
  /* 2rem = 2 * 14px = 28px */
}

/* HERO SECTION */

.hero {
  border: 1px solid red;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  text-align: center;

  padding-top: 3rem;
  padding-bottom: 10rem;
}

.hero__title {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: 2.5rem;
  line-height: 1.5;
}

.hero__content {
  font-family: var(--font-secondary);
  line-height: 1.5;

  padding: 0 7rem;
}